@import "tailwindcss";


@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
  --color-purple-100: hsl(254, 88%, 90%);
  --color-purple-500: hsl(256, 67%, 59%);
  --color-yellow-100: hsl(31, 66%, 93%);
  --color-yellow-500: hsl(39, 100%, 71%);

  --radius-medium: 7px;
}

@media (min-width: 1024px) {
  .time-to-post-image {
    width: 177%;
}
}
